<%= form_with(model: ensamblaje, local: true) do |form| %>
  <% if ensamblaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ensamblaje.errors.count, "error") %> prohibited this ensamblaje from being saved:</h2>

      <ul>
        <% ensamblaje.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
